.productCard {
  background-color: var(--secondary);
  box-shadow: 0 0 6px rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  height: 220px;
  min-width: 200px;
  overflow: hidden;
  transition: transform 100ms;
}

.productCard:hover {
  transform: scale(1.03);
}

.productCardLink {
  display: flex;
  flex-direction: column;
}

.productCardImageContainer {
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 100px rgba(255 255 255 / 40%);
  display: flex;
  justify-content: center;
  position: relative;
}

.productCardImage {
  align-self: center;
  height: 120px;
}

.productCardName {
  background-color: rgb(15 139 141 / 80%);
  bottom: 0;
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 600;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productCardImageContainer:hover .productCardName {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  padding-inline: 10px;
  text-align: center;
  white-space: normal;
}

.productPriceAndShipping {
  align-items: center;
  background-color: var(--tertiary);
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding-inline: 6px;
}

.productShipping {
  background-color: transparent;
  border: 1px solid #ff8f00;
  border-radius: 20px;
  color: #ff8f00;
  font-size: 0.8rem;
  padding: 4px 8px;
  right: 8px;
  top: 8px;
}

.productCardPrice {
  color: rgb(0 100 0);
  flex-grow: 1;
  font-size: 0.9rem;
  text-align: right;
}

.productCardPrice:before {
  content: 'R$';
}

.productCardAddButtonContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.productCardAddButton {
  background-color: var(--default-font-color);
  border-radius: 4px;
  color: var(--primary);
  font-size: 0.8rem;
  padding: 10px;
}
