.cartLink {
  position: relative;
}

.cartLink i {
  color: var(--primary);
  font-size: 1.8rem;
}

.cartLink span {
  align-items: center;
  background-color: var(--theme);
  border-radius: 100%;
  bottom: -5px;
  color: var(--primary);
  display: flex;
  font-size: 0.6rem;
  height: 18px;
  justify-content: center;
  min-width: 18px;
  padding: 2px;
  position: absolute;
  right: -5px;
}
